@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

/* Section 1 */
.container{
box-sizing: border-box;

position: relative;
width: 1640px;
height: 1224px;

background: #5a1818;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 2px;
}
.dashboard{
  /* Group 48095633 */

position: relative;
width: 1440px;
height: 1024px;
left: 100px;
top: 100px;
background-color: rgba(255, 255, 255, 0.8);
display: grid;
grid-template-columns: 1fr 2fr 1fr;
background-color: #fff;
padding: 10px;

}


/* Rectangle 2777 */
.grid-item1{
  /* background-color: #7e4343; */
position: absolute;
width: 341px;
height: 1024px;
/* left: 100px; */
/* top: 100px; */

background: #FAFAFA;
}

h1{

position: absolute;
/* width: 110px;
height: 24px;
left: 135px;
top: 199px; */

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
display: flex;
/* align-items: center;
text-align: center; */
letter-spacing: 0.4px;

color: #000000;
}
.welcome-back{
  left: 20px;
  position: absolute;
  top:100px;
  display:flex;
}
.pfp{
  left:20px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  
}
.welcome-text{
  position: relative;
  top:40px;
  font-family: 'Inter', sans-serif;
  font: bold;
}
.activities-bar{
  margin-top: 35px;
  gap:40px;
  display: flex;
  position: absolute;
  top: 200px;
  left: 20px;
}
.feature-tab{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top:20px;
  top:250px;
}
.home{
  cursor: pointer;
  margin-left: 20px;
  display: flex;
  gap:60px;
  margin-top:60px;
}
.home-feature-text{
  position: relative;
  margin-top:19px
}
.grid-item2{
  background: #F5F5FF;
  position: relative;
  left:400px;
  width: 644px;
  margin-left: -70px;
  margin-top: -10px;

}

.profile-navbar{
  display: flex;
  justify-content: space-between;
  margin: 20px;

}
.search-bar{
  cursor: text;
}
.edit-profile{
  position: absolute;
  top:125px;
  margin:20px;
  font:  bold;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 18px;
/* or 56% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.4px;

color: #000000;

}
.card{
color: #fafafa;
position: absolute;
width: 572px;
height: 234px;
margin-left: 20px;
/* left: 173px; */
top: 200px;
display: flex;
justify-content: center;
gap: 80px;
align-items: center;
background: #1A1A54;
border-radius: 30px;

}
.card-2{
  top:480px;
  /* Rectangle 2787 */

background: #979797;
border-radius: 30px;
display: flex;
flex-direction: column;

}
svg{
  cursor: pointer;
}
.upper-card{
  margin-top: 20px;
  display: flex;
  gap: 60px;

}
.middle-card{
  position: absolute;
  display: flex;
  gap: 100px;
  justify-content: space-between;
}
.lower-card{
  display: flex;
  margin-bottom: 10px;
  gap: 60px;

}
.card-3{
  top:750px;
  display: flex;
  flex-direction: column;
  background: #979797;

}

.grid-item3{
  display: flex;
  flex-direction: column;
  gap:20px;
  background: #FAFAFA;
justify-content: space-between;
  position: absolute;
  left: 1000px;
  background: #FAFAFA;

}
.resources-heading{

position: absolute;
width: 398px;
height: 68px;
padding: 8px;
/* left: 113px; */
top: 114px;
font: bold 22px;
font-weight: 700;
background: #D9D9D9;
border-radius: 20px;
}
.progress{
  position: relative;
  width: 398px;
  height: 68px;
  padding: 8px;
  left: 413px;
  top: 614px;
  font: bold 22px;
  font-weight: 700;
  background: #D9D9D9;
  border-radius: 20px;
  padding: auto;
  /* margin:auto */
}

.personal-1{
  padding-top: 20px;
  padding: 10PX;
  margin: 10px;
  margin-bottom: 100px;
}

.anon-p{
  /* margin-top: 10px; */
  text-align: center;
}
.anon-p-desktopp{
  margin-top: 60px;
}
.anon{
  /* Online Resources */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px;
gap: 10px;

position: absolute;
width: 402px;
height: 184px;
left: 1000px;
top: 221px;

background: rgba(239, 93, 168, 0.1);
border-radius: 24px;

}
.connect{
  /* Meetup Icon */

margin: 0 auto;
width: 68.22px;
height: 64px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.join-now{
  margin-top: 10px;
  display: flex;
  gap: 30px;
  font-weight: 700;
}
.join-p{
  color: #EF5DA8;

}
.health-card{
 display: flex;
 flex-direction: column;
 gap: 60px;
 /* justify-content: space-between; */
}
.health-only{
  position: absolute;
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 10px;
  
  position: absolute;
  width: 397px;
  height: 146.14px;
  left: 1000px;
  top: 443px;
  
  background: #FEF4EA;
  border-radius: 24px;
}

/* .click-here{
  color: #F09A59;

} */
 .progress-card{
  position: relative;
  top: 8px;
 }

.feeling-p{
  /* How are you feeling today? */

position: absolute;
width: 470px;
height: 130px;
/* left: 395px; */
top: 137px;
margin-left: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 58px;

color: #000000;
text-align: center;

}

.moods{
  display: flex;
  position: relative;
  top: -80px;
  /* top:180px; */
  justify-content: space-between;
}
.MoodTracker{
  position: absolute;
  top:400px;
}
/* .carousel{
  height: 100px;
} */
.carousel-image {
  max-height: 300px; /* Set your desired max height */
  width: 100%;
  object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-list {
  height: 300px; /* Ensure the container doesn't collapse */
}
.mobile-version{
  display: none;
}
.mobile-pfp{
  margin-left: 20px;

}
Link{

  text-decoration: none;
}
.account-link{
  text-decoration: none;
  position: relative;
  bottom: -5px;
  margin-right: -5px;
  color: #000000;
  right: 0px;
}
.link-home{
  text-decoration: none;
  background-color: #f5f5f5;
  width: cover;
  color: #EF5DA8;
}
.desktop-version{
  width: 100vw;
  height: 100vh;
}
 /* Responsiveness */
 @media only screen and (max-width: 1694px){
    .dashboard{
      height: cover;
      width: 100%;
    }
 }
 @media only screen and (max-width: 768px){
   .mobile-version{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    justify-content: space-between;
    height: 100%;
   }
   .desktop-version{
    display: none;
   }
   .top-navbar{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
   }
   .feeling-text{
    margin-top: 0;
    margin: 20px;
    margin-bottom: 0;
   }
   .moods{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    /* margin-top: -120px; */
    /* Frame 142 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
width: 92%;
height: 140px;
padding: 10px;

background: #D8F9FF;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

   }
   .dash-text{
    position: absolute;
    font-size: 26px;
    top: 370px;
    margin: 20px;
    margin-bottom: 40px;

   }
   .mobile-v{
    width: 90%;
    height: 20%;
    position: absolute;
    top: 420px;
    left: 20px;
    margin-top: 20px;
   }
   .v2{
    margin-top: 40px;
    top:650px;
   }
   .bottom-nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    /* margin: 20px; */
    margin-top: 25px;
  position: sticky;
    top:900px;
    /* Hone Nav */

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.9);

   }
 }